@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin create-well {
  box-shadow: inset 0px 0px 1px black, 0px 0px 1px black;
  background: rgba(0, 0, 0, 0.2);
}

@mixin create-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin panel-attributes {
  width: 75%;
  min-width: 350px;
  max-width: 1000px;
  padding: 50px 20px;
  background-color: rgba(255,255,255,1);
  border: solid $charcoal;
  clear:both;
  overflow: auto;
}

//COLORS
$background-blue: #031E2F;
$charcoal: #364156;
$pastel-gray: #CDCDCD;
$light-cyan: #DFF8EB;
$tarawera: #073d5f;
$venice-blue: #0b5b8e;
$denim: #0e7abe;
//COLORS

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  background-color: $background-blue;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: $charcoal;
}

.clearfix {
  clear: both;
}

.content-container a {
  color: $venice-blue;
}

.content-container a:hover {
  color: $denim;
}

.nav {
  @include create-shadow;
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  //box-shadow: 0px 0px 0px 1px black;
  overflow: hidden;
  z-index: 10;
  clear: both;
  border-bottom: solid $charcoal;
}

.navbar {
  margin: 0 auto;
  padding: 7px;
  text-align: center;
}

.logo {
  padding: 5px;
  float: left;
  color: $charcoal;
  margin: 0px 0px 0px 3px;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 7px;
  margin: 0 3px;
}

.logo:hover {
  @include create-well;
  transition: 0.2s;
}

.navbar li:hover {
  @include create-well;
  transition: 0.2s;
}

.spacer {
  width: 100%;
  height: 50px;
}

.content-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-image: url("img/golden-trans.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.greeting {
  @include create-shadow;
  @include panel-attributes;
  //height: 40%;
  position: relative;
  margin: auto;
  margin-bottom: 50vh;
  margin-top: 10vh;
  //transform: translate(-50%, -50%);
  
}

.greeting h1 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  text-align: center;
  padding-top: 20px;
  font-size: 1.9em;
}

.about-me {
  @include panel-attributes;
  @include create-shadow;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50vh;
  padding: 40px;
  }

.about-me p {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  text-align: justify;
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.about-me h1 {
  color: $venice-blue;
  text-align: justify;
  padding-top: 20px;
  font-size: 2.5em;
  font-weight: bold;
}

.techs {
  margin: 0 auto;
  width: 75%;
  padding: 0;
}

.tech {
  width: 28%;
  height: 300px;
  float: left;
  margin: auto 15px;
  
}

.tech p {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.tech img {
  width: 100%;
  max-height: 200px;
  margin: auto;
}


.profile-img {
  @include create-shadow;
  width: 40%;
  max-width: 300px;
  border-radius: 200%;
  border: solid 6px $charcoal;
  display: block;
  margin: 0 auto;
}

