@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin create-well {
  box-shadow: inset 0px 0px 1px black, 0px 0px 1px black;
  background: rgba(0, 0, 0, 0.2);
}

@mixin create-shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

//COLORS
$background-blue: #031E2F;
$charcoal: #364156;
$pastel-gray: #CDCDCD;
$light-cyan: #DFF8EB;
//COLORS

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  padding: 0;
  background-color: $background-blue;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("golden-trans.png");
  background-position: center;
}

h1 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  text-align: center;
  padding-top: 20px;
  //font-weight:lighter;
}

a {
  text-decoration: none;
  color: $charcoal;
}

.nav {
  @include create-shadow;
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  //box-shadow: 0px 0px 0px 1px black;
  overflow: hidden;
  z-index: 10;
  clear: both;
  border-bottom: solid $charcoal;
}

.navbar {
  margin: 0 auto;
  padding: 7px;
  text-align: center;
}

.logo {
  padding: 5px;
  float: left;
  color: $charcoal;
  margin: 0px 0px 0px 3px;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 7px;
  margin: 0 3px;
}

.logo:hover {
  @include create-well;
  transition: 0.2s;
}

.navbar li:hover {
  @include create-well;
  transition: 0.2s;
}

.spacer {
  width: 100%;
  height: 50px;
}

.content-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.portrait-panel {
  @include create-shadow;
  height: 25%;
  width: 100%;
  padding: 50px 0;
  background-color: rgba(255,255,255,1);
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: solid $charcoal;
  clear:both;

}

.grates {
  float: left;
  font-size: 5em;
  margin: 0;
  position: absolute;

}

.profile-img {
  @include create-shadow;
  height: 50%;
  border-radius: 200%;
  border: solid 6px $charcoal;
  display: block;
  margin: 0 auto;
}

.aboutme-panel {
  background-color: rgba(226,226,226,1);
  //background: @include filter-gradient(#e2e2e2, #fefefe, horizontal);
  height: 25%;
  width: 100%;
}
