$blue: rgb(2, 118, 193);
$dark-blue: rgb(27, 87, 172);
$white: rgb(231, 230, 232);
@import url("https://fonts.googleapis.com/css?family=Roboto");
@mixin zeroes {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  @include zeroes;
  background: $blue;
}

.topnav {
  @include zeroes;
  background-color: $dark-blue;
  height: 3em;
  list-style-type: none;
  overflow: hidden;
}

.topnav li {
  float: left;
}

.topnav li a {
  color: $white;
  margin-top: 50%;
  padding: 50% 1em;
  text-decoration: none;
  font-size: 1.5em;
}

.container {
  @include zeroes;
  background: $blue;
  height: 100%;
}

.landing-panel {
  @include zeroes;
  background: $white;
  text-align: center;
}

h1 {
  @include zeroes;
}
